*{
	margin: 0px;
	padding: 0px;
}
body{
	
	color: #333;
	font-size: 25;
}
.menu ul{
	list-style-type: none;
}
.menu ul li{
	display: inline-block;
	width: 105px;
	line-height: 50px;
	height: 40px;
	margin-left: -5px;
	text-align: center;
	background: green;
}
.menu ul li a{
	color:#0A090E;
text-decoration: none;

}
.menu ul li a:hover{
	color: #CD3D3C;
}
.panda{
	margin-right: 10px;
}
.sum{
	margin-left: 20px;
}