#header{
  width: 1333px;
  height: 250px;
  background-color: blue;
}

#menu{
  width: 1333px;
  height: 50px;
  background-color: rgb(59, 74, 62);
}

#left{
  width: 250px;
  height: 435px;
  background-color:rgb(179, 190, 159);
  float: left;
}

#content{
  width: 833px;
  height: 435px;
  background-color: white;
  float: left;
}

#right{
  width: 250px;
  height: 435px;
  background-color:rgb(179, 190, 159);
  float:left;
}

#bottom{
  width: 1333px;
  height: 40px;
  background-color: rgb(59, 74, 62);
  clear: both;
}

#pictureTop{
  width: 1333px;
  height: 250px;
}

#layout{
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
}

#form{
  padding-left: 250px;
}

#layoutMenu{
  font-family: monospace;
  font-size: 1.3em;
  padding-top: 10px;
  padding-left: 350px;
  word-spacing: 2em;
}
