#header{
  width: 1333px;
  height: 250px;
}

#menu{
  width: 1333px;
  height: 50px;
  background-color: rgb(59, 74, 62);
}

#left{
  width: 250px;
  height: 435px;
  background-color: rgb(179, 190, 159);
  float: left;
  border-right: 2px;
  }

#content{
  width: 833px;
  height: 435px;
  background-color: ;
  float: left;
}

#right{
  width: 250px;
  height: 435px;
  background-color: rgb(179, 190, 159);
  float: left;
  border-left: 2px;
}

#bottom{
  width: 1333px;
  height: 40px;
  background-color: rgb(59, 74, 62);
  clear: both;
}

#pictureTop{
  width: 1333px;
  height: 250px;
}

#wordMenu{
  font-size: 1.1em;
  color: black;
  text-align: center;
}

#WordContent{
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
}

#paddingOfMenu{
  font-family: monospace;
  font-size: 1.3em;
  padding-top: 10px;
  padding-left: 350px;
  word-spacing: 2em;
}

#form{
  padding-left: 350px;
  border:black solid 5px;
  border-radius: 30px;
}

#form2{
  font-size: 1em;
  padding-top: 10px;
  text-align: center;
}
